@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: unset;
    min-height: 100dvh;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  a, 
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  fieldset,
  button {
    border: unset;
    background: unset;
  }

  :focus {
    outline: 0;
  }

  ul {
    list-style-type: none;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

/* Variables & General */

html {
  font-size: clamp(12px, calc(9px + 0.5vw), 24px);
}

:root {
  --color-blue: #1992D4;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #e2e8f0;
  --color-dark-grey: #555;
  --color-orange: #f0b429;
}

/* General */

body {
  display: grid;
}

img {
  border-radius: 50%;
  height: 2.5em;
}

h1 {
  font-size: 1.25em;
}

h2, 
h3 {
  font-size: 1.15em;
}

h2 {
  font-weight: 500;
  margin-bottom: 0.75em;
}

h3 {
  margin-bottom: 0.3em;
  font-weight: 600;
}

svg {
  width: 1em;
  height: 1em;
  fill: var(--color-black);
}

.grid-container {
  display: grid;
}

aside,
header {
  position: sticky;
  top: 0;
  z-index: 100;
  align-self: start;
}

aside {
  height: 100dvh;
}

/* Wrapper */

#wrapper {
  width: 100%;
  height: 100%;
  grid-template-columns: 2fr 9fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "aside header"
    "aside main";
  font-family: Roboto, sans-serif;
}

/* Aside */

aside {
  grid-area: aside;
  align-content: start;
  gap: 3.5rem;
  padding: 1em 4em 1em 1em;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 1.15rem;
  font-weight: 500;
}

aside ul {
  gap: 1em;
}

aside a {
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 1em;
}

aside svg {
  fill: var(--color-white);
}

h1 svg {
  width: 2em;
  height: 2em;
}

h1 a {
  gap: 0.5em;
}

/* Header */

header {
  grid-area: header;
  gap: 1em;
  grid-template-rows: 1fr 2fr;
  padding: 1em 2.5em;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 1.05rem;
  box-shadow: 0em 0.1em 0.35em 0em #aaaaaabf;
  z-index: 100;
}

header nav {
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 3em;
}

header nav > * {
  gap: 1em;
  align-items: center;
}

header nav form {
  grid-template-columns: max-content 1fr;
  gap: 0.75em;
}

header input {
  max-width: 600px;
  height: 1.5em;
  border: none;
  background-color: var(--color-grey);
  border-radius: 50px;
  padding: 0.2em 0.7em;
  font-weight: 400;
}

header button {
  cursor: pointer;
}

header svg {
  width: 1.2em;
  height: 1.2em;
}

header nav div {
  grid-auto-flow: column;
}

#profile-widget {
  gap: 1.5em;
  padding-right: 0.75em;
}

#profile-widget > * {
  cursor: pointer;
}

#profile-widget p {
  font-weight: 700;
  font-size: 0.8em;
}

#greeting-widget {
  justify-content: start;
}

#greeting-widget img {
  height: 3em;
  width: max-content;
}

.small {
  font-size: 0.6em;
}

#project-control-widget button {
  color: var(--color-white);
  background-color: var(--color-blue);
  font-size: 0.9em;
  font-weight: 700;
  padding: 0.5em 1.5em;
  border-radius: 50px;
}

/* Main */

main {
  padding: 1.75em 1.5em;
  grid-area: main;
  gap: 1.5em;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr;
  background-color: var(--color-grey);
  font-size: 1rem;
}

main p {
  color: var(--color-dark-grey);
}

#projects {
  grid-row: span 2;
}

#projects-container {
  gap: 1.25em;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 1fr;
}

.card {
  border-radius: 0.5em;
  background-color: var(--color-white);
  box-shadow: 0.1em 0.2em 0.35em 0em #aaaaaabf;
}

.card * {
  cursor: pointer;
}

.project-card {
  position: relative;
  font-size: 0.9em;
  padding: 2.5em;
  gap: 1em;
  grid-template-rows: 1fr max-content;
}

.project-card p {
  max-inline-size: 40ch;
}

.project-card svg {
  width: 1.75em;
  height: 1.75em;
}

.project-card::before {
  content: '';
  height: 100%;
  width: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5em 0 0 0.5em;
  background-color: var(--color-orange);
}

.project-card .icons {
  justify-self: end;
  grid-auto-flow: column;
  gap: 2em;
}

.announcements-card {
  padding: 3em;
  gap: 1em;
  font-size: 0.7em;
}

.announcements-card p {
  max-inline-size: 30ch;
  font-weight: 400;
}

.announcements-card hr {
  border: none;
  border-top: 0.15em solid var(--color-grey);
}

.trending-card {
  font-size: 0.8em;
  gap: 2em;
  padding: 2em;
}

.trending-card div {
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 0.7em;
}

.trending-card img {
  height: 3.5em;
}

.trending-card p {
  gap: 0.2em;
}

.trending-card span {
  color: var(--color-black);
}



